@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'Phudu';
  src: url('https://cdn.prod.website-files.com/6349231ce464225e5d888c2d/662b607914a28766a8cb24e7_Phudu-ExtraBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: inter;
}

body {
    background-color: #fbda5f;
}

nav{
    min-height:4.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    height:30vh;
}
.ancho{
    width:80%;
    margin:0 auto;
    height: fit-content;
    /* border: 1px solid blue; */
}
.ancho a{
    padding-right: 1rem;
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero{

    display:flex;
    flex-direction: column;
    align-items: center;
}
.hero h1{
    font-family: Phudu;
    text-transform: uppercase;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 1rem;
    
}
.selector{
    margin: 2rem auto;
    padding: 0.6rem;
    display:flex;
    justify-content: space-between;
    background-color: aliceblue;
    border-radius: 30px;
    width:40%;

    
}
.yearly, .monthly{
    width:fit-content;
    padding: 0.5rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
}
.yearly{

    background-color: #fbda5f;
    border-radius: 20px;

}
.rebaja{
    background-color: black;
    color:whitesmoke;
    border-radius: 5px;
    font-size: 1.1rem;
}
.precios{
    display:flex;
    gap:0.5rem;
    flex-wrap: nowrap;
}
.tarjeta{
    display:flex;
    flex-direction: column;
    /* border:1px solid red; */
    border-radius: 20px;
    background-color: white;
    

}
.cabecera{
    background-color: #efeeef;
    border-top-right-radius: 20px; 
    border-top-left-radius: 20px;
    line-height: 1.5rem;
    font-size: 1.5rem;
    padding: 1rem;
}
.precio{
    font-family: Phudu;
    font-size:3.5rem;
    padding:1.5rem;
}
.lista{
    font-size: 1.2rem; 
    line-height: 1.9rem;
    letter-spacing: -1px;
}
.lista ul{
    list-style: none;
    padding:1.5rem;
}
.check{
    font-size: 1.2rem;
    padding-right: 1rem;
     padding-left:1rem; 
}
.abajo{
    display:flex;
    justify-content: space-evenly;
    border: 1px solid blue;
    
    
}
.abajo-txt{
    width:20%;
}
.abajo-1,.abajo-2,.abajo-3{
    border: 1px solid red;
}